{% extends 'base.html.twig' %}

{% block title %}Hello PackageController!{% endblock %}

{% block body %}
    {% if is_granted('ROLE_BUSINESS') %}
        <a href="{{ path('app_package_new',{
            id : business.id
    }) }}"> Create new package</a>
    {% endif %}

    {{ form_start(package_filter_form) }}
        <div class="display-row">
            {{ form_row(package_filter_form.name) }}
            {{ form_row(package_filter_form.minPrice) }}
            {{ form_row(package_filter_form.maxPrice) }}
            {{ form_row(package_filter_form.category) }}
            {% if package_filter_form.business is defined %}
                {{ form_row(package_filter_form.business) }}
            {% endif %}
            {{ form_row(package_filter_form.submit) }}
        </div>
    {{ form_end(package_filter_form) }}

    <table>
        <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
            <td>Business</td>
            <td>Photo</td>
            <td>Created_at</td>
            <td>Category</td>
        </tr>
        </thead>
        {% for package in packages %}
            <tr>
                <td><a href="{{ path('app_package_view',{
                        id : package.id,
                    }) }}"> {{ package.id }}</a></td>
                <td>{{ package.name }}</td>
                <td>{{ package.description }}</td>
                <td>{{ package.price }}</td>
                <td>{{ package.business.name }}</td>
                <td>{{ package.photo }}</td>
                <td>{{ package.created_at|date('d.m.y H:i') }}</td>
                <td>{{ package.category.name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
