{% extends 'base.html.twig' %}

{% block title %}Hello BusinessController!{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path ('app_business_register') }}"> Create new business</a>
    {% endif %}

    <table>
        <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>City</td>
            <td>Street</td>
            <td>House Number</td>
            <td>Phone Number</td>
            <td>Business Type</td>
        </tr>
        </thead>
        {% for business in businesses %}
            <tr>
                <td><a href="{{ path ('app_business_view',{
                        id : business.id
                    }) }}"> {{ business.id }}</a></td>
                <td>{{ business.name }}</td>
                <td>{{ business.city }}</td>
                <td>{{ business.street }}</td>
                <td>{{ business.houseNumber }}</td>
                <td>{{ business.phoneNumber }}</td>
                <td>{{ business.houseNumber }}</td>
                <td>{{ business.businessType.name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
