{% extends 'base.html.twig' %}

{% block title %}Hello BusinessController!{% endblock %}

{% block body %}
    <p>{{ business.id }}</p>
    <p>{{ business.name }}</p>
    <p>{{ business.city }}</p>
    <p>{{ business.street }}</p>
    <p>{{ business.houseNumber }}</p>
    <p>{{ business.phoneNumber }}</p>
    <p>{{ business.businessType.name }}</p>
    <p><a href="{{ path('app_package',{
            id : business.id,
        }) }}"> view packages</a></p>

    {%  if is_granted('ROLE_ADMIN') %}
    <a href='{{ path('app_business_delete',{
        id:business.id
    }) }}'>delete</a>

    <a href="{{ path('app_business_edit',{
        id:business.id
    }) }}">edit</a>
    {% endif %}

    <a href="{{ path("app_business") }}"> back </a>
{% endblock %}
