{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <p>{{ category.id }}</p>
    <p>{{ category.name }}</p>

    <a href="{{ path('app_category_edit',{
        id : category.id,
    }) }}">edit</a>

    <a href="{{ path('app_category_delete',{
        id : category.id,
    }) }}">delete</a>

    <a href="{{ path('app_category') }}">back</a>
{% endblock %}
