{% extends 'base.html.twig' %}

{% block title %}Hello BusinessTypeController!{% endblock %}

{% block body %}
    <p>{{ businessType.id}}</p>
    <p>{{ businessType.name }}</p>

    <a href="{{ path('app_business_type_edit',{
        id : businessType.id,
    }) }}">edit</a>


    <a href="{{ path('app_business_type_delete',{
        id : businessType.id,
    }) }}">delete</a>

    <a href = {{ path('app_business_type') }}> back </a>
{% endblock %}
