{% extends 'base.html.twig' %}

{% block title %}Hello ConsumerController!{% endblock %}

{% block body %}
    <table>
        <thead>
        <tr>
            <td>Id</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Phone</td>
        </tr>
        </thead>
        {% for consumer in consumers %}
            <tr>
                <td><a href="{{ path('app_consumer_view',{
                        id : consumer.id,
                    }) }}">{{ consumer.id }}</a></td>
                <td>{{ consumer.firstName }}</td>
                <td>{{ consumer.lastName }}</td>
                <td>{{ consumer.phoneNumber }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
