{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
    {% if is_granted('ROLE_CONSUMER') %}
        <a href="{{ path('app_order_new') }}">Create new order</a>
    {% endif %}

    <table>
        <thead>
        <tr>
            <td>Id</td>
            <td>Package</td>
            <td>Consumer</td>
            <td>Created_at</td>
        </tr>
        </thead>
        {% for order in orders %}
            <tr>
                <td><a href="{{ path('app_order_view',{
                        id : order.id,
                    }) }}"> {{ order.id }}</a></td>
                <td>{{ order.package.name }}</td>
                <td>{{ order.consumer.fullName }}</td>
                <td>{{ order.created_at|date('d.m.y H:i') }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
