{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
    <p>{{ order.id }}</p>
    <p>{{ order.package.name }}</p>
    <p>{{ order.consumer.fullName }}</p>
    <p>{{ order.created_at|date('d.m.y H:i') }}</p>

    {% if is_granted('ROLE_CONSUMER') %}
        <a href="{{ path('app_order_edit',{
            id : order.id,
        }) }}">edit</a>
    {% endif %}

    {% if is_granted('ROLE_CONSUMER') or is_granted('ROLE_BUSINESS') %}
        <a href="{{ path('app_order_delete',{
            id : order.id,
        }) }}">delete</a>
    {% endif %}

    <a href="{{ path('app_order') }}">back</a>
{% endblock %}
